.rate-section {
    p {
        margin: 0;
    }

    display: flex;
    align-items: center;
    gap: 16px;

    .force-section {
        display: flex;
        align-items: center;
        gap: 8px;

        nz-input-number {
            width: 180px;
        }
    }
}

.conversion-section {
    display: flex;
    gap: 16px;
    align-items: center;

    .input-section,
    .output-section {
        display: flex;
        align-items: center;
        gap: 8px;

        nz-input-number {
            width: 200px;
        }
    }
}

.switch-section, .conversion-section {
    margin-top: 16px;
}

.history-button {
    margin-top: 24px;
}